PORT=4040
DB_HOST=localhost
DB_PORT=3306
DB_NAME=real_temple
DB_USER=your_db_user
DB_PASSWORD=your_db_password
NODE_ENV=development
JWT_TOKEN_SECRET=your_jwt_secret_key

YOUR_RAZORPAY_KEY_ID=your_razorpay_key_id
YOUR_RAZORPAY_KEY_SECRET=your_razorpay_key_secret
GOOGLE_API_KEY=your_google_api_key
CHANNEL_ID=your_youtube_channel_id
PLAYLIST_ID=your_youtube_playlist_id
CORS_ORIGIN=http://localhost:3000,http://localhost:4042,https://www.realtemple.com
